.grid-item {
	color: white;
	height: 200px;
}

.experience {
	background-color: $color-primary-2;
}

.project {
	background-color: $color-secondary-1-2;
}

.extracurricular {
	background-color: $color-secondary-2-2;
}