html * {
    font-family: Roboto Slab !important;
}

p {
    font-size: 1.25em;
}

li {
    font-size: 1.25em;
}

.text-center {
    text-align: center
}

.self {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 1%;
}

.link {
    color: #9730db;
}

.button-primary {
    background-color: #9730db !important;
    border-color: #9730db !important;
}