$color-primary-0: #413075;
$color-primary-1: #887BAF;
$color-primary-2: #625192;
$color-primary-3: #271758;
$color-primary-4: #14073A;

$color-secondary-1-0: #255C69;
$color-secondary-1-1: #6B949E;
$color-secondary-1-2: #447784;
$color-secondary-1-3: #0F434F;
$color-secondary-1-4: #012B35;

$color-secondary-2-0: #832C65;
$color-secondary-2-1: #C583AE;
$color-secondary-2-2: #A45287;
$color-secondary-2-3: #621046;
$color-secondary-2-4: #42002B;

$lato: Lato, Open-Sans, sans-serif;
$raleway: Raleway, Open-Sans, sans-serif;
$open-sans: Open-Sans, sans-serif;