h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Open-Sans, sans-serif; }

p {
  font-family: Raleway, Open-Sans, sans-serif; }

body {
  position: relative; }

a {
  color: #625192; }
  a:hover {
    color: #413075; }

.grid-item {
  color: white;
  height: 200px; }

.experience, .label-info {
  background-color: #625192; }

.project, .label-success {
  background-color: #447784; }

.extracurricular, .label-primary {
  background-color: #A45287; }

.form-control {
  font-family: Raleway, Open-Sans, sans-serif; }

.form-group label {
  font-family: Raleway, Open-Sans, sans-serif; }

.btn-primary {
  font-family: Lato, Open-Sans, sans-serif;
  background-color: #413075;
  border-color: #14073A; }
  .btn-primary:hover {
    background-color: #14073A; }
