@charset 'utf-8'
body
{
	width: 80%;
	margin: 0 auto;
}
.wrapper
{
	width: 80%;
	margin: 0 auto;
}

/* Navigation Bar */
.container-fluid
{
	padding: 0 10% 0 10%;
}
.navbar 
{
	margin-bottom: 0;
}

/* Main Div Components */
.jumbotron
{
	width: 100% !important;
}
.row
{
	margin: 2%;
}
.projectImg
{
	width: 100%;
	margin: 0 auto;
	height: inherit;
	max-height: 490px;
}
.carousel-caption
{
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0px;
}
.carousel-indicators
{
	bottom: 10px !important;
}
.carousel
{
	margin: 0 auto;
}

/* Footer */
footer
{
	padding: 10px;
	height: 150px;
}
.push 
{
	height: 150px;
}

/* Text */
.alignright
{
	float: right;
}
.alignleft
{
	float: left;
}
.floatCleared
{
	clear: both;
}

/* Colors */
.main-yellow 
{
	color: #FFFB00;
}
.main-purple
{
	color: #522B72;
}