@charset "UTF-8";
html 
{
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}
body
{
    font-family: 'Open Sans', sans-serif !important;
}

/* Color variables */
.color-primary-0 { color: #413075 }	/* Main Primary color */
.color-primary-1 { color: #887BAF }
.color-primary-2 { color: #625192 }
.color-primary-3 { color: #271758 }
.color-primary-4 { color: #14073A }

.color-secondary-1-0 { color: #255C69 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #6B949E }
.color-secondary-1-2 { color: #447784 }
.color-secondary-1-3 { color: #0F434F }
.color-secondary-1-4 { color: #012B35 }

.color-secondary-2-0 { color: #832C65 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #C583AE }
.color-secondary-2-2 { color: #A45287 }
.color-secondary-2-3 { color: #621046 }
.color-secondary-2-4 { color: #42002B }

/* Link Elements */
a
{
    color: #413075 !important;
}
a:hover
{
    color: #14073A !important;
}

/* Text Elements */
h1
{
    font-family: 'Raleway' !important;
    font-weight: 500 !important;
}
h2
{
    font-family: 'Raleway' !important;
    font-weight: 400 !important;
}
h4
{
    font-family: 'Raleway' !important;
    font-weight: 300 !important;
}
p
{
    font-family: 'Open Sans', sans-serif !important;
}

/* Button Elements */
.btn
{
    border-radius: 20px !important;
    background-color: #413075 !important;
    border-color: #413075 !important;
}
button:hover
{
    background-color: #271758 !important;
}

/* Major Divs */
.sectionTitle
{
    text-transform: uppercase;
}
.mainDiv
{
    margin: 50px;
}

/***** WRAPPER *****/
.wrapper
{
	width: 100%;
    padding: 50px 10% 50px 10%;
	margin: 0 auto;
    /*margin-top: 50px;*/
    background-color: #C583AE;
}

/***** FILLER *****/
#filler
{
    height: 1px;
}

/***** HOME *****/
#home
{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100% !important;
    height: 100vh !important;
    min-height: 100vh !important;
    min-width: 100% !important;
}
#homeText
{
    padding-top: 9%;
}
#homeText h1
{
    font-size: 7em;
    font-family: 'Lato' !important;
    font-weight: 400;
}
#arrowDown i
{
    bottom: 10%;
    position: absolute;
}

/***** ABOUT *****/

/***** EDUCATION *****/
.col-md-3>p>img
{
    width: 80%;
    display: inline-block;
    margin: auto;
}

/***** EXPERIENCE *****/
.companyName
{
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}
.companyDiv, .projectDiv
{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

/***** PROJECTS *****/

/***** SKILLS *****/
#skillLevelLegend
{
    display: block;
    margin: 0 auto;
}
#skillLevelLegend li
{
    display: inline;
    margin: 10px;
}
.skillsList
{
    display: block;
    padding-left: 0px;
}
.skillsList li
{
    display: inline;
    margin: 10px;
}
.advanced
{
    color: #255C69;
}
.proficient
{
    color: #621046;
}
.basic
{
    color: #413075;
}

/***** CONTACT *****/
form
{
    padding-left: 15px;
    padding-right: 15px;
}
#mediumIcon
{
    font-family: 'clarendonbold', sans-serif;
    font-size: 2em;
}
#nameInput, #emailInput, #messageInput
{
    border-radius: 20px !important;
}
@media screen and (min-width: 768px) 
{
    #nameForm
    {
        padding-left: 0 !important;
    }
    #emailForm
    {
        padding-right: 0 !important;
    }
}
@media (max-width: 768px)
{
    #nameForm
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #emailForm
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Navigation Bar */
.navbar-default
{
    border: none !important;
}
.navbar-brand
{
    color: #413075 !important;
}
.container-fluid
{
    padding: 0 10% 0 10% !important;
    background-color: #832C65;
}
.navbar-nav
{
    float: none !important;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.navbar-nav>li
{
    text-transform: uppercase;
    float: none;
    display: inline;
}
.navbar-nav>li>a
{
    color: white !important;
}
.navbar
{
    text-align: center;
    margin-bottom: 0px !important;
}
.navbar .navbar-nav 
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse 
{
    text-align: center;
}
a.navActiveLink
{
    color: #5F7914 !important;
    background-color: #413075 !important;
}
@media screen and (min-width: 768px) 
{
    .navbar-header
    {
        display: none;
    }
}

/* Footer */
footer
{
	padding: 10px;
	height: 100px;
    background-color: #255C69;
}
footer p
{
    color: white;
}
#push 
{
	height: 100px;
    background-color: #887BAF !important;
}
#socialMediaDiv
{
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
#socialMediaLinks 
{
    display: block;
    padding-left: 0px;
}
#socialMediaLinks li
{
    display: inline;
    margin: 10px;
}
#socialMediaLinks>li>a
{
    color: #832C65 !important;
}

/* Custom Fonts */
@font-face
{
    font-family: 'clarendonbold';
    src: url('../fonts/ClarendonSteDExtBol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}