[Desktop Entry]
Encoding=UTF-8
Name=Link to url
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&docid=onm3Ql3J_1i2qM&tbnid=zkU9966j9hyqDM:&ved=0CAUQjRw&url=http%3A%2F%2Fwww.readcwbooks.com%2F&ei=JUllU4jMHejayAGWjYCQAw&bvm=bv.65788261,d.aWc&psig=AFQjCNFDXWT0AKY900wCAtwIL9JYQ3s7qA&ust=1399233187405706
Icon=gnome-fs-bookmark
